/Documents/NetBeansProjects/Teste/nbproject/private/
/Documents/NetBeansProjects/TesteDevWeb/nbproject/private/
/Documents/NetBeansProjects/TesteDevWeb/build/
/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/Documents/NetBeansProjects/Login/nbproject/private/
/Documents/NetBeansProjects/Prova/nbproject/private/
/Documents/NetBeansProjects/Login/build/
/Documents/NetBeansProjects/Youtube/nbproject/private/
/Downloads/Devweb/ProjetoUsers/ProjetoUsers/build/
/Downloads/Devweb/ProjetoUsers/ProjetoUsers/nbproject/private/
/Documents/NetBeansProjects/JspProjeto/nbproject/private/
/Documents/NetBeansProjects/JspProjeto/build/
/Documents/NetBeansProjects/FGhghdfd/nbproject/private/
/Documents/NetBeansProjects/FGhghdfd/build/
/Documents/NetBeansProjects/Carrinho/nbproject/private/
/Documents/NetBeansProjects/Carrinho/build/